# Backend
backend/__pycache__/
backend/*.pyc
backend/.env
backend/.pytest_cache/
backend/alembic/versions/*

# Frontend
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/.pub-cache/
frontend/.pub/
frontend/build/
frontend/flutter_*.png
frontend/flutter_*.log
frontend/*.lock

# Database
postgres_data/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db